body{
    background:hsl(120, 24%, 93%);
    background-image: url("https://imageshack.com/i/plJAfM6Qj");
    background-size: cover;
    display:flex;
    justify-content:center;
}
*{
    padding:0;
    margin:0;
    
    box-sizing: border-box;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.main__container{
    max-width:780px;
    background-color: rgba(255, 255, 255, 0.4);
    display:flex;
    justify-content: space-evenly;
}
.left__side{
    width:28%;
    background: linear-gradient(63deg, #8492856e, rgba(207, 253, 209, 0.4));
    text-align: center;
    align-items: center;
}

.my__picture{
    width:97%;
    border-radius: 5px;
    border: 1px solid black;
    margin: 20px auto;
}
.ico{
    width: 100%;
    height: 50px;
    margin: 10px auto;
}

.right__side{
    width:68%;
    background: linear-gradient(60deg, #8694886e, rgba(178, 255, 182, 0.4));
    padding: 5px;
}
.right__header{
    background: linear-gradient(270deg, #81887a56, rgba(239, 253, 227, 0.4));
    margin-top:5px;
}
.projects__list{
    padding: 5px;
    list-style: none;
}
.projects__list li:nth-child(2n+1){
    text-align:center;
    font-size:1.1rem;
}
