
        @import url('https://fonts.googleapis.com/css?family=Roboto');

        body {
            background: rgba(252, 222, 113, 0.82);;
            background-size: cover;
            display: flex;
            justify-content: center;
        }

        * {
            padding: 0;
            margin: 0;
            letter-spacing: .05rem;
            box-sizing: border-box;
            font-family: 'Roboto';
        }

        .main__container {
            width: 1080px;
            display: flex;
            justify-content: space-evenly;
        }

        .left__side {
            width: 300px;
            background: #414141;
            display: flex;
            flex-flow: column;
            text-align: center;
            align-items: center;
            justify-content: flex-start;
            color: #FCDD71;
        }

        .left__content {
            width: 90%;
        }

        .my__picture {
            width: 97%;
            height: 270px;
            background-image: url("./img/profile img.jpg");
            background-position: -18px -53px;
            background-size: 363px;
            border-radius: 109px;
            border: 1px solid black;
            margin: 20px auto;
        }

        .ico {
            width: 120%;
            height: 40px;
            margin: 10px auto;
            margin-left: -10%;
        }

        .button {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 30px;
            background-color: #48D6B6;
            border-radius: 5px;
            text-decoration: none;
            color: #414141;
        }

        .button__link {
            width: 140px;
            margin-top: -5px;
            padding: 0 6px 0 6px;
            display: flex;
        }

        .button__link:hover {
            box-shadow: 0 0 10px rgba(137, 127, 187, 0.64);
        }

        .right__side {
            width: 700px;
            padding: 15px;
            color: #414141;
        }

        @keyframes loading {
            100% {
                width: 100%
            }

            ;
        }

        .right__header {
            width: 0;
            margin: 35px auto 15px auto;
            font-size: 2.2rem;
            padding-left: 11px;
            color: rgb(42, 42, 42);
            border-bottom: 2px solid rgba(82, 107, 107, 0.9);
            border-right: 2px solid rgba(82, 107, 107, 0.9);
            animation: 1s forwards loading;
        }

        .right__header:hover {
            border-right: 2px solid rgb(82, 107, 107);
            border-bottom: 2px solid rgb(82, 107, 107);
        }

        .projects__list {
            padding: 5px;
            list-style: none;
            display: flex;
            flex-flow: row;
            flex-wrap:wrap;
            justify-content: center;
        }

        .education {
            display: flex;
        }

        .projects__list li {
            margin-top: 25px;
            display: flex;
            justify-content: center;
            flex-flow:column;
        }

        .projects__list li p {
            padding: 5px;
            display: flex;
            flex-flow: column;justify-content:right; 
            align-items: center; width: 365px; height:130px;
        }

        .phone {
            background-image: url("./img/mobile.png");
            background-position: -403px -55px;
            background-size: 286px;
            height: 53px;
            margin-top: 15px;
        }

        .email {
            background-image: url("./img/yahoo-icon.png");
            background-position: 0px -0px;
            background-size: 53px;
            background-repeat: no-repeat;
            height: 53px;
            margin-top: 15px;
            padding-left:30px;
        }

        .github {
            background-image: url("./img/Octocat.png");
            background-position: 0px 0px;
            background-size: 272px;
            height: 53px;
            background-size: 62px;
            background-repeat: no-repeat;
            margin-top: 15px;
        }

        .linkedin {
            background-image: url("./img/In-2C-54px-R.png");
            background-position: 0px 0px;
            height: 53px;
            background-size: 64px;
            background-repeat: no-repeat;
            margin-top: 15px;
        }

        .cl__logo {
            background: url("./img/cl.png");
            display: inline-block;
            width: 385px;
            height: 73px;
            background-position: -123px -66px;
            transform: rotate(-42deg);
            background-size: 1044px;
        }

        .hobbies__content {
            display: flex;
            justify-content: center;
            text-align: right;
            align-items: center;
        }
        .hobbies__content p{
            width:300px;
            margin-right: 30px;
        }

        .models {
            height: 120px;
            object-fit: contain;
        }

        .right__side__list,
        .right__side p,
        li {
            font-size: .9rem;
            line-height: 150%;
            word-spacing: .42rem;
        }
        .tools{
            list-style: none;
        }
        .projects__image {
            display: inline-flex;
            height: 113px;
        }
