
@import url('https://fonts.googleapis.com/css?family=Londrina+Outline');
@import url('https://fonts.googleapis.com/css?family=Roboto');
$bordersColor: rgb(255, 195, 85);
$yellowBorders: rgb(255, 255, 0);
$backgroundImage:'';

@keyframes unwrapOnLoad {
    0%{
        opacity:0;
    }
    90%{
        opacity:0.4;
    }
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto';
}

@mixin flex {
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center
}

body {
    @include flex;
    background-color: #1f1d1d;
}
%buttonAnimation{
    &:hover{
        box-shadow: inset 0px 0px 25px white, 0 0 15px rgb(81, 107, 57), 0 0 20px rgb(97, 139, 0), 0 0 200px rgba(30, 122, 102, 0.932);
    }
    &:active{
        box-shadow: inset 0 0 7px rgb(177, 204, 155), inset 0 0 13px rgb(84, 194, 185), 0 0 200px white, 0 0 20px rgba(255,255,255,.2); 
        border: solid greenyellow;
    }
}

.main__container {
    width: 732px;
    height: 1147px;
    @include flex;
    flex-flow: column wrap;
    animation: 1s forwards unwrapOnLoad;
}
.main__container__anim{
    background: url($backgroundImage);
    background-size:1000px;
    background-position: -144px -79px;
}
.yellow__box {
    width: 217px;
    height: 211px;
    border: 2px dashed $bordersColor;
    margin: 0 0 0 0;
}

@for $i from 1 through 15 {
    .box#{$i} {
        width: 217px;
    }
}

.box1 {
    border: none;
    height: 492px;
    animation:1.5s forwards unwrapOnLoad;
    background: url($backgroundImage);
    background-position: 23.6% 13%;
    background-size: 461%;
    h1{
        font-family: 'Londrina Outline';
        color: $bordersColor;
        font-size: 55px;
        font-weight: 900;
    }
}
.play{
    width:217px;
    height:50px;
    @include flex;
    flex-wrap:wrap;
    color: orange;
    font-size: 22px;
    font-weight:900;
    background: url($backgroundImage);
    background-position: 23.6% 44.77%;
    background-size: 461%;
    border-right:none;
    border-bottom:none;
    div{
        width:30px;
        height:30px;
        border: 2px solid yellow;
        border-radius: 6px;
        margin:5px;
        @include flex;
        @extend %buttonAnimation;
        &:hover{
            cursor: grab;
        }
    }
    :first-child {
        letter-spacing: -3px;
        width:42px;
    }
    :last-child{
        letter-spacing:-2px;
        width:42px;
    }
    .counter {
        margin-top:5%;
        @include flex;
        .beam{
            width: 8%;
            height:120%;
        }
        .glowBeam{
            border-color: green;
        }
        width:100%;
        height:10%;
        border:none;
    }
}

.box2{
    height: 127px;
    border-right:none;
    border-bottom:none;
    border-top:none;
    @include flex;
    @extend %buttonAnimation;
    .cl__logo {
        background: url('./img/cl.png');
        display: inline-block;
        width: 385px;
        height: 69px;
        background-position: -118px -59px;
        transform: rotate(-21deg);
        background-size: 960px;
        position: relative;
        top: -35px;
        left: 81px;
    }
}

.box3 {
    height: 127px;
    border-right:none;
    border-bottom:none;
    @include flex;
    @extend %buttonAnimation;
    .cl__logo {
        background: url('./img/cl.png');
        display: inline-block;
        width: 385px;
        height: 69px;
        background-position: -118px -59px;
        transform: rotate(-21deg);
        background-size: 960px;
        position: relative;
        top: -35px;
        left: 81px;
    }
}
.box2 {
    @include flex;
    background: url($backgroundImage);
    background-position: 23.6% 51.25%;
    background-size: 461%;
    img{
        max-height:120px;
        max-width: 210px;
        animation:0.8s forwards unwrapOnLoad;
        color:white;
    }
}
.box3{
    animation:1s forwards unwrapOnLoad;
    background: url($backgroundImage);
    background-position: 23.6% 66.25%;
    background-size: 461%;
}

.box4 {
    @include flex;
    flex-flow:column;
    color:white;
    height: 270px;
    background: url($backgroundImage);
    background-position: 23.6% 79.4%;
    background-size: 461%;
    z-index:1;
    ul{
        width:180px;
        list-style: circle outside none;
        padding-left:31px;
    }
    .models {
        height: 120px;
        object-fit: contain;
        @extend %buttonAnimation;
    }
    animation:1.2s forwards unwrapOnLoad;
}

.box5 {
    height: 280px;
    border: none;
    animation:1.8s forwards unwrapOnLoad;
    background: url($backgroundImage);
    background-position: -76% 9.3%;
    background-size: 465%;
}

@mixin heart {
    border-radius: 0 50% 0 50%;
    border-right: 2px solid white;
    border-bottom: 2px solid white;
    width: 72px;
    height: 72px;
    transform: skew(-32deg, 32deg) rotate(13deg);
}

@mixin heart__top {
    content: "";
    display: inline-block;
    border-left: 2px solid white;
    border-top: 2px solid white;
    border-bottom: none;
    border-right: none;
    position: relative;
}

.box6 {
    @include flex;
    height: 135px;
    border-right:none;
    animation:0.1s forwards unwrapOnLoad;
    background: url($backgroundImage);
    background-position: -75% -80%;
    background-size: 477%;
    .heart {
        @include heart;

        &:before {
            @include heart__top;
            top: 21px;
            left: -2px;
            width: 35px;
            height: 40px;
            transform: rotate(-44deg);
            border-radius: 23px 16px 0 6px;
        }

        &:after {
            @include heart__top;
            top: -48px;
            left: 19px;
            width: 44px;
            height: 40px;
            transform: rotate(44deg);
            border-radius: 74% 23% 27% 66%;
        }
    }
}
.box7link{
    text-decoration: none;
    @extend %buttonAnimation;
    background: url($backgroundImage);
    background-position: -76% -78%;
    background-size: 465%;
}
.box7 {
    height: 267px;
    border-top:none;
    border-right:none;
    border-bottom:none;
    @include flex;
    justify-content: flex-start;
    align-items: flex-start;
    color:white;
    padding: 15px 15px 20px 15px;
    line-height:21px;
    text-align: justify;
    animation:0.5s forwards unwrapOnLoad;
}
@counter-style pluz {
    system: cyclic;
    symbols: "+";
    suffix: "  ";
  }

.box8 {
    height: 129px;
    border-right:none;
    @include flex;
    background: url($backgroundImage);
    background-position: -76% -49%;
    background-size: 470%;
    ul{
        color:white;
        list-style: pluz;
        width:182px;
        padding-left:26px;
        font-size: 15px;
    }
    animation:0.8s forwards unwrapOnLoad;
}

.box9 {
    height: 281px;
    border: none;
    animation:0.8s forwards unwrapOnLoad;
    @include flex;
    align-items: flex-start;
    flex-wrap:wrap;
    line-height: 25px; 
    border-left:none;
    background: url($backgroundImage);
    background-position: -207% -45%;
    background-size: 446%;
    p{
        padding-top:35px;
        padding-left:15px;
        position:relative;
        top:-78px;
        left:1px;
        color:white;
        font-family: Roboto;
        text-align: right;
    }
    .contact{
        width: 13px;
        height:13px;
        border: 2px solid white;
        position:relative;
    }
    .c1{
        top: -169px;
        left: -75px;
        border-top:none;
        border-left:none;
    }
    .c2{
        top: 60px;
        left: -75px;
        border-bottom:none;
        border-left:none;
    }
}

.box10 {
    @include flex;
    height: 143px;
    flex-wrap:wrap;
    border-bottom:none;
    animation:1.6s forwards unwrapOnLoad;
    background: url($backgroundImage);
    background-position: -48.7% 8.7%;
    background-size: 462%;
    .brain1 {
        border-top: 2px solid white;
        border-left: 2px solid white;
        /* border-right: 2px solid white; */
        border-bottom: 2px solid white;
        border-radius: 50% 39% 41% 47%;
        width: 55px;
        height: 61px;
        transform: rotate(0deg) skew(0deg, 0deg);
        position: relative;
        top: 27px;
        left: 28px;
    }

    .brain2 {
        border-top: 2px solid white;
    border-left: 2px solid white;
    border-right: 2px solid white;
    /* border-bottom: 2px solid white; */
    border-radius: 116% 84% 65% 118%;
    width: 48px;
    height: 26px;
    transform: rotate(0deg) skew(0deg, 0deg);
    position: relative;
    top: -2px;
    left: 4px;
    }

    .brain3 {  
          border-top: 2px solid white;
        /* border-left: 2px solid white; */
        border-right: 2px solid white;
        /* border-bottom: 2px solid white; */
        border-radius: 55% 53% 34% 49%;
        width: 28px;
        height: 18px;
        transform: rotate(0deg) skew(0deg, 0deg);
        position: relative;
        top: -1px;
        left: -3px;
    }

    .brain4 {
        border-top: 2px solid white;
    /* border-left: 2px solid white; */
    border-right: 2px solid white;
    /* border-bottom: 2px solid white; */
    border-radius: 53% 84% 59% 45%;
    width: 55px;
    height: 57px;
    transform: rotate(0deg) skew(0deg, 0deg);
    position: relative;
    top: 29px;
    left: -27px;
    }

    .brain5 {
            /* border-top: 2px solid white; */
    /* border-left: 2px solid white; */
    border-right: 2px solid white;
    border-bottom: 2px solid white;
    border-radius: 44% 63% 44% 52%;
    width: 51px;
    height: 60px;
    transform: rotate(0deg) skew(0deg, 0deg);
    position: relative;
    top: -1px;
    left: 67px;
    }

    .brain6 {
        /*border-top: 2px solid white;*/
        border-left: 2px solid white;
        // border-right: 2px solid white;
        border-bottom: 2px solid white;
        border-radius: 46% 40% 52% 58%;
        width: 62px;
        height: 25px;
        transform: rotate(0deg) skew(0deg, 0deg);
        position: relative;
        top: 0px;
        left: -38px;
    }
}

.box11 {
    height: 139px;
    @include flex;
    color: white;
    font-size: 14px;
    background: url($backgroundImage);
    background-position: -47.5% 20%;
    background-size: 484%;
    ul{
        width:192px;
        list-style: none outside none;
    }
    animation:1s forwards unwrapOnLoad;
}

.box12 {
    height: 131px;
    border: none;
    border-left:2px dashed $bordersColor;
    animation:1s forwards unwrapOnLoad;
    background: url($backgroundImage);
    background-position: -49.5% 30%;
    background-size: 442%;
    margin-top:.54px;
}

.box13 {
    height: 135px;
    @include flex;
    border-bottom:none;
    animation:0.9s forwards unwrapOnLoad;
    background: url($backgroundImage);
    background-position: -49% 40%;
    background-size: 458%;
    .mouse__cable {
        border: none;
        border-top: 2px solid white;
        height: 2px;
        width: 34px;
    }

    .mouse__icon {
        border: 2px solid white;
        height: 55px;
        width: 106px;
        border-radius: 30px;
        @include flex;
        justify-content: space-evenly;

        .mouse__buttons {
            @include flex;
            border: none;
            border-right: 2px solid white;
            width: 32;
            height: 55px;
            margin-right: 34px;

            .mouse__buttons__divide {
                width: 34px;
                margin-top: -2px;
                position:relative;
                top:1px;
                height: 0;
                border: 1px solid white;
            }
        }

        .mouse__circle {
            border-radius: 50%;
            border: 2px solid white;
            height: 11px;
            width: 11px;
            margin-right: 17px
        }
    }
}

.box14 {
    height: 263px;
    @include flex;
    flex-wrap:wrap;
    color: $yellowBorders;
    font-size:32px;
    font-weight:900;
    animation:0.9s forwards unwrapOnLoad;
    background: url($backgroundImage);
    background-position: -49% 57%;
    background-size: 458%;
    a{text-decoration: none;}
    p{
        @include flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        width:60px;
        height:60px;
        border:2px solid $yellowBorders;
        border-radius: 10px;
        margin:10px;
        color: white;
        font-size:18px;
        font-weight:600;
        @extend %buttonAnimation;
    }
    .reactButton{
        p:hover{
            &::before{
                content: '';
                position: relative;
                left: 26px;
                width: 10px;
                height: 100px;
                transform:rotate(45deg);
                background-color: red;
            }
            &::after{
                content: '';
                position: relative;
                left: -26px;
                width: 10px;
                height: 100px;
                transform:rotate(135deg);
                background-color: red;
            }
        }
    }
}

.box15 {
    height: 281px;
    border: none;
    animation:1s forwards unwrapOnLoad;
    @include flex;
    flex-wrap:wrap;
    flex-flow:column;
    background: url($backgroundImage);
    background-position: -49% -44%;
    background-size: 462%;
    .button {
        display: flex;
        align-items: center;
        height: 53px;
        width: 168px;
        border:2px solid $yellowBorders;
        border-radius: 5px;
        text-decoration: none;
        color: #414141;
        text-align: left;
        color:white;
        margin:3px;
        padding-left:17px;
        @extend %buttonAnimation;
    }
    .phone {
        background-image: url('./img/mobile_pale.png');
        background-position: -283px -57px;
        background-size: 286px;
        @extend %buttonAnimation;
    }

    .email {
        // background-image: url(../img/yahoo-icon.png);
        // background-position: 113px -1px;
        // background-size: 53px;
        // background-repeat: no-repeat;
        text-align: center;
        @extend %buttonAnimation;
    }

    .github {
        background-image: url('./img/Octocat.png');
        background-position: 102px -1px;
        background-size: 272px;
        background-size: 62px;
        background-repeat: no-repeat;
        @extend %buttonAnimation;
    }

    .linkedin {
        background-image: url('./img/In-2C-54px-R.png');
        background-position: 111px -2px;
        background-size: 64px;
        background-repeat: no-repeat;
        @extend %buttonAnimation;
    }
}
@media only screen and (max-width: 668px){
    .main__container{
        width: 433px;
        height: 1304px;
        background-position: -245px -84px;
    }
    .yellow__box{
        border: 2px dashed $bordersColor;
    }
    .box1{
        order:-2;
        border:none;
        height:256px;
        background-position: -96.37% 11.2%;
        background-size: 461%;
    }
    .play{
        background-position: 31.13% 37.59%;
        background-size: 461%;
    }
    .box2{
        order:2;
        background-position: 31.13% 43.79%;
        background-size: 461%;
    }
    .box3{
        order:-1;
        background-position: -96.67% 30.42%;
        background-size: 461%;
    }
    .box4{
        order:4;
        background-position: -96.87% 60.59%;
        background-size: 461%;
    }
    .box5{order:20;height:0px;border:none;}
    .box6{
        order:10;
        position:relative;
        top:-0px;
        border-radius:95px 0 0 0;
        background-position: -68.7% 21.43%;
        background-size: 461%;
    }
    .box7link{
        order:13;
        background-position:-68.57% 46.91%;
        background-size: 461%;
    }
    .box8{
        order:11;
        position:relative;
        top:-0px;
        background-position: -68.57% 31.91%;
        background-size: 461%;
    }
    .box9{
        order:5;
        height:100px;position:relative;top:-0px;
        background-position: -227% -35%;
        p{top:0px;padding:5px;}
        div{border:none;display:none;}
    }
    .box10{
        order:9;
        border-radius:0 0 0 95px;
        background-position: -68.7% 10.25%;
        background-size: 461%;
    }
    .box11{
        order:15;position:relative;top:-0px;
        background-position: -68.57% 94.59%;
        background-size: 461%;
    }
    .box12{order:12;height:0px;border:none;}
    .box13{
        order:13;
        background-position: -68.57% 62.94%;
        background-size: 461%;
    }
    .box14{
        order:14;
        background-position: -68.57% 81.79%;
        background-size: 461%;
    }
    .box15{
        order:8;
        background-position: -224% -30.9%;
    }
}