@import url("https://fonts.googleapis.com/css?family=Londrina+Outline");
@import url("https://fonts.googleapis.com/css?family=Roboto");
@keyframes unwrapOnLoad {
  0% {
    opacity: 0;
  }
  90% {
    opacity: 0.4;
  }
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto';
}

body {
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
  background-color: #cec5c5;
}

.play div:hover, .box2:hover,
.box3:hover, .box4 .models:hover, .box7link:hover, .box14 p:hover, .box15 .button:hover, .box15 .phone:hover, .box15 .email:hover, .box15 .github:hover, .box15 .linkedin:hover {
  box-shadow: inset 0px 0px 25px white, 0 0 15px #516b39, 0 0 20px #618b00, 0 0 200px rgba(30, 122, 102, 0.932);
}

.play div:active, .box2:active,
.box3:active, .box4 .models:active, .box7link:active, .box14 p:active, .box15 .button:active, .box15 .phone:active, .box15 .email:active, .box15 .github:active, .box15 .linkedin:active {
  box-shadow: inset 0 0 7px #b1cc9b, inset 0 0 13px #54c2b9, 0 0 200px white, 0 0 20px rgba(255, 255, 255, 0.2);
  border: solid greenyellow;
}

.main__container {
  width: 732px;
  height: 1147px;
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
  flex-flow: column wrap;
  animation: 1s forwards unwrapOnLoad;
}

.main__container__anim {
  background: url("./img/backgroundMeGreyC.jpg");
  background-size: 1000px;
  background-position: -144px -79px;
}

.yellow__box {
  width: 217px;
  height: 211px;
  border: 2px dashed #ffc355;
  margin: 0 0 0 0;
}

.box1 {
  width: 217px;
}

.box2 {
  width: 217px;
}

.box3 {
  width: 217px;
}

.box4 {
  width: 217px;
}

.box5 {
  width: 217px;
}

.box6 {
  width: 217px;
}

.box7 {
  width: 217px;
}

.box8 {
  width: 217px;
}

.box9 {
  width: 217px;
}

.box10 {
  width: 217px;
}

.box11 {
  width: 217px;
}

.box12 {
  width: 217px;
}

.box13 {
  width: 217px;
}

.box14 {
  width: 217px;
}

.box15 {
  width: 217px;
}

.box1 {
  border: none;
  height: 492px;
  animation: 1.5s forwards unwrapOnLoad;
  background: url("./img/backgroundMeGreyC.jpg");
  background-position: 23.6% 13%;
  background-size: 461%;
}

.box1 h1 {
  font-family: 'Londrina Outline';
  color: #ffc355;
  font-size: 55px;
  font-weight: 900;
}

.play {
  width: 217px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
  color: orange;
  font-size: 22px;
  font-weight: 900;
  background: url("./img/backgroundMeGreyC.jpg");
  background-position: 23.6% 44.77%;
  background-size: 461%;
}

.play div {
  width: 30px;
  height: 30px;
  border: 2px solid yellow;
  border-radius: 6px;
  margin: 5px;
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
}

.play div:hover {
  cursor: grab;
}

.play :first-child {
  letter-spacing: -3px;
  width: 42px;
}

.play :last-child {
  letter-spacing: -2px;
  width: 42px;
}

.box2,
.box3 {
  height: 127px;
  border-right: none;
  border-bottom: none;
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
}

.box2 .cl__logo,
.box3 .cl__logo {
  background: url("./img/cl.png");
  display: inline-block;
  width: 385px;
  height: 69px;
  background-position: -118px -59px;
  transform: rotate(-21deg);
  background-size: 960px;
  position: relative;
  top: -35px;
  left: 81px;
}

.box2 {
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
  background: url("./img/backgroundMeGreyC.jpg");
  background-position: 23.6% 51.25%;
  background-size: 461%;
}

.box2 img {
  max-height: 120px;
  max-width: 210px;
  animation: 0.8s forwards unwrapOnLoad;
  color: white;
}

.box3 {
  animation: 1s forwards unwrapOnLoad;
  background: url("./img/backgroundMeGreyC.jpg");
  background-position: 23.6% 66.25%;
  background-size: 461%;
}

.box4 {
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
  flex-flow: column;
  color: white;
  height: 270px;
  background: url("./img/backgroundMeGreyC.jpg");
  background-position: 23.6% 79.4%;
  background-size: 461%;
  animation: 1.2s forwards unwrapOnLoad;
}

.box4 ul {
  width: 180px;
  list-style: circle outside none;
  padding-left: 31px;
}

.box4 .models {
  height: 120px;
  object-fit: contain;
}

.box5 {
  height: 280px;
  border: none;
  animation: 1.8s forwards unwrapOnLoad;
  background: url("./img/backgroundMeGreyC.jpg");
  background-position: -76% 9.3%;
  background-size: 465%;
}

.box6 {
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
  height: 135px;
  border-right: none;
  animation: 0.1s forwards unwrapOnLoad;
  background: url("./img/backgroundMeGreyC.jpg");
  background-position: -75% -80%;
  background-size: 477%;
}

.box6 .heart {
  border-radius: 0 50% 0 50%;
  border-right: 2px solid white;
  border-bottom: 2px solid white;
  width: 72px;
  height: 72px;
  transform: skew(-32deg, 32deg) rotate(13deg);
}

.box6 .heart:before {
  content: "";
  display: inline-block;
  border-left: 2px solid white;
  border-top: 2px solid white;
  border-bottom: none;
  border-right: none;
  position: relative;
  top: 21px;
  left: -2px;
  width: 35px;
  height: 40px;
  transform: rotate(-44deg);
  border-radius: 23px 16px 0 6px;
}

.box6 .heart:after {
  content: "";
  display: inline-block;
  border-left: 2px solid white;
  border-top: 2px solid white;
  border-bottom: none;
  border-right: none;
  position: relative;
  top: -48px;
  left: 19px;
  width: 44px;
  height: 40px;
  transform: rotate(44deg);
  border-radius: 74% 23% 27% 66%;
}

.box7link {
  text-decoration: none;
}

.box7 {
  height: 267px;
  border-top: none;
  border-right: none;
  border-bottom: none;
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
  justify-content: flex-start;
  align-items: flex-start;
  color: white;
  padding: 15px 15px 20px 15px;
  line-height: 21px;
  text-align: justify;
  animation: 0.5s forwards unwrapOnLoad;
  background: url("./img/backgroundMeGreyC.jpg");
  background-position: -76% -78%;
  background-size: 465%;
}

.box8 {
  height: 129px;
  border-right: none;
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
  background: url("./img/backgroundMeGreyC.jpg");
  background-position: -76% -49%;
  background-size: 470%;
  animation: 0.8s forwards unwrapOnLoad;
}

.box8 ul {
  color: white;
  list-style: lower-greek;
  width: 182px;
  padding-left: 26px;
  font-size: 15px;
}

.box9 {
  height: 281px;
  border: none;
  animation: 0.8s forwards unwrapOnLoad;
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
  align-items: flex-start;
  flex-wrap: wrap;
  line-height: 25px;
  border-left: none;
}

.box9 p {
  padding-top: 35px;
  padding-left: 15px;
  position: relative;
  top: -78px;
  left: 1px;
  color: white;
  font-family: Roboto;
  text-align: right;
  background: url("./img/backgroundMeGreyC.jpg");
  background-position: -207% -45%;
  background-size: 446%;
}

.box9 .contact {
  width: 13px;
  height: 13px;
  border: 2px solid white;
  position: relative;
}

.box9 .c1 {
  top: -169px;
  left: -75px;
  border-top: none;
  border-left: none;
}

.box9 .c2 {
  top: 60px;
  left: -75px;
  border-bottom: none;
  border-left: none;
}

.box10 {
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
  height: 143px;
  flex-wrap: wrap;
  border-bottom: none;
  animation: 1.6s forwards unwrapOnLoad;
  background: url("./img/backgroundMeGreyC.jpg");
  background-position: -48.7% 8.7%;
  background-size: 462%;
}

.box10 .brain1 {
  border-top: 2px solid white;
  border-left: 2px solid white;
  /* border-right: 2px solid white; */
  border-bottom: 2px solid white;
  border-radius: 50% 39% 41% 47%;
  width: 55px;
  height: 61px;
  transform: rotate(0deg) skew(0deg, 0deg);
  position: relative;
  top: 27px;
  left: 28px;
}

.box10 .brain2 {
  border-top: 2px solid white;
  border-left: 2px solid white;
  border-right: 2px solid white;
  /* border-bottom: 2px solid white; */
  border-radius: 116% 84% 65% 118%;
  width: 48px;
  height: 26px;
  transform: rotate(0deg) skew(0deg, 0deg);
  position: relative;
  top: -2px;
  left: 4px;
}

.box10 .brain3 {
  border-top: 2px solid white;
  /* border-left: 2px solid white; */
  border-right: 2px solid white;
  /* border-bottom: 2px solid white; */
  border-radius: 55% 53% 34% 49%;
  width: 28px;
  height: 18px;
  transform: rotate(0deg) skew(0deg, 0deg);
  position: relative;
  top: -1px;
  left: -3px;
}

.box10 .brain4 {
  border-top: 2px solid white;
  /* border-left: 2px solid white; */
  border-right: 2px solid white;
  /* border-bottom: 2px solid white; */
  border-radius: 53% 84% 59% 45%;
  width: 55px;
  height: 57px;
  transform: rotate(0deg) skew(0deg, 0deg);
  position: relative;
  top: 29px;
  left: -27px;
}

.box10 .brain5 {
  /* border-top: 2px solid white; */
  /* border-left: 2px solid white; */
  border-right: 2px solid white;
  border-bottom: 2px solid white;
  border-radius: 44% 63% 44% 52%;
  width: 51px;
  height: 60px;
  transform: rotate(0deg) skew(0deg, 0deg);
  position: relative;
  top: -1px;
  left: 67px;
}

.box10 .brain6 {
  /*border-top: 2px solid white;*/
  border-left: 2px solid white;
  border-bottom: 2px solid white;
  border-radius: 46% 40% 52% 58%;
  width: 62px;
  height: 25px;
  transform: rotate(0deg) skew(0deg, 0deg);
  position: relative;
  top: 0px;
  left: -38px;
}

.box11 {
  height: 139px;
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
  color: white;
  font-size: 14px;
  background: url("./img/backgroundMeGreyC.jpg");
  background-position: -47.5% 20%;
  background-size: 484%;
  animation: 1s forwards unwrapOnLoad;
}

.box11 ul {
  width: 192px;
  list-style: none outside none;
}

.box12 {
  height: 131px;
  border: none;
  border-left: 2px dashed #ffc355;
  animation: 1s forwards unwrapOnLoad;
  background: url("./img/backgroundMeGreyC.jpg");
  background-position: -49.5% 30%;
  background-size: 442%;
}

.box13 {
  height: 135px;
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
  border-bottom: none;
  animation: 0.9s forwards unwrapOnLoad;
  background: url("./img/backgroundMeGreyC.jpg");
  background-position: -49% 40%;
  background-size: 458%;
}

.box13 .mouse__cable {
  border: none;
  border-top: 2px solid white;
  height: 2px;
  width: 34px;
}

.box13 .mouse__icon {
  border: 2px solid white;
  height: 55px;
  width: 106px;
  border-radius: 30px;
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
  justify-content: space-evenly;
}

.box13 .mouse__icon .mouse__buttons {
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
  border: none;
  border-right: 2px solid white;
  width: 32;
  height: 55px;
  margin-right: 34px;
}

.box13 .mouse__icon .mouse__buttons .mouse__buttons__divide {
  width: 34px;
  margin-top: -2px;
  position: relative;
  top: 1px;
  height: 0;
  border: 1px solid white;
}

.box13 .mouse__icon .mouse__circle {
  border-radius: 50%;
  border: 2px solid white;
  height: 11px;
  width: 11px;
  margin-right: 17px;
}

.box14 {
  height: 263px;
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
  flex-wrap: wrap;
  color: yellow;
  font-size: 32px;
  font-weight: 900;
  animation: 0.9s forwards unwrapOnLoad;
  background: url("./img/backgroundMeGreyC.jpg");
  background-position: -49% 57%;
  background-size: 458%;
}

.box14 a {
  text-decoration: none;
}

.box14 p {
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
  width: 60px;
  height: 60px;
  border: 2px solid yellow;
  border-radius: 10px;
  margin: 10px;
  color: white;
  font-size: 18px;
  font-weight: 600;
}

.box14 .reactButton p:hover::before {
  content: '';
  position: relative;
  left: 26px;
  width: 10px;
  height: 100px;
  transform: rotate(45deg);
  background-color: red;
}

.box14 .reactButton p:hover::after {
  content: '';
  position: relative;
  left: -26px;
  width: 10px;
  height: 100px;
  transform: rotate(135deg);
  background-color: red;
}

.box15 {
  height: 281px;
  border: none;
  animation: 1s forwards unwrapOnLoad;
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
  flex-wrap: wrap;
  flex-flow: column;
  background: url("./img/backgroundMeGreyC.jpg");
  background-position: -49% -44%;
  background-size: 462%;
}

.box15 .button {
  display: flex;
  align-items: center;
  height: 53px;
  width: 168px;
  border: 2px solid yellow;
  border-radius: 5px;
  text-decoration: none;
  color: #414141;
  text-align: left;
  color: white;
  margin: 3px;
  padding-left: 17px;
}

.box15 .phone {
  background-image: url("./img/mobile_pale.png");
  background-position: -283px -57px;
  background-size: 286px;
}

.box15 .email {
  text-align: center;
}

.box15 .github {
  background-image: url("./img/Octocat.png");
  background-position: 102px -1px;
  background-size: 272px;
  background-size: 62px;
  background-repeat: no-repeat;
}

.box15 .linkedin {
  background-image: url("./img/In-2C-54px-R.png");
  background-position: 111px -2px;
  background-size: 64px;
  background-repeat: no-repeat;
}

@media only screen and (max-width: 668px) {
  .main__container {
    width: 433px;
    height: 1304px;
    background-position: -245px -84px;
  }
  .yellow__box {
    border: 2px dashed #ffc355;
  }
  .box1 {
    order: -2;
    border: none;
    height: 256px;
  }
  .box2 {
    order: 2;
  }
  .box3 {
    order: -1;
  }
  .box4 {
    order: 4;
  }
  .box5 {
    order: 20;
    height: 0px;
    border: none;
  }
  .box6 {
    order: 10;
    position: relative;
    top: -0px;
    border-radius: 95px 0 0 0;
  }
  .box7link {
    order: 13;
  }
  .box8 {
    order: 11;
    position: relative;
    top: -0px;
  }
  .box9 {
    order: 5;
    height: 100px;
    position: relative;
    top: -0px;
  }
  .box9 p {
    top: 0px;
    padding: 5px;
  }
  .box9 div {
    border: none;
    display: none;
  }
  .box10 {
    order: 9;
    border-radius: 0 0 0 95px;
  }
  .box11 {
    order: 15;
    position: relative;
    top: -0px;
  }
  .box12 {
    order: 12;
    height: 0px;
    border: none;
  }
  .box13 {
    order: 13;
  }
  .box14 {
    order: 14;
  }
  .box15 {
    order: 8;
  }
}
